<div class="flex h-screen items-stretch">
  <div class="flex-1 bg-gradient-to-t from-primary-500 to-secondary-400"></div>

  <div class="h-full flex-1 flex flex-col">
    <div class="flex justify-end p-4">
      <app-theme-toggle></app-theme-toggle>
    </div>

    <div class="flex-1 p-4 flex justify-center items-center">
      <button
        (click)="login()"
        class="p-4 mr-2 rounded-md bg-primary-500 text-white"
      >
        Connexion
      </button>
    </div>

    <div class="flex justify-end p-4">
      <div
        class="
          font-bold
          text-3xl text-transparent
          bg-clip-text bg-gradient-to-tr
          from-primary-500
          to-secondary-400
        "
      >
        Jumbler
      </div>
    </div>
  </div>
</div>
